{
    "parser": "babel-eslint",
    "extends": ["airbnb"],

    "rules": {
        "linebreak-style":0,
        "react/prop-types":0,
        "react/jsx-props-no-spreading":0,
        "no-undef":0,
        "jsx-a11y/anchor-is-valid":0, //Eliminar para despues
    }
}